@import '@radix-ui/colors/black-alpha.css';

h1 {
  @apply text-4xl text-black-a9 font-bold;
}

h2 {
  @apply text-lg text-black-a9 font-bold;
}

input {
  @apply w-[200px] inline-flex items-center justify-center rounded-md
  px-2.5 text-black-a8 h-[35px] bg-white
  shadow-black-a2 focus:shadow-input-focus;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}